@import '../../../styles//variables';

.Auth {
  margin-top: 200px;

  h1 {
    font-family: $primaryFont;
    margin-bottom: 30px;
  }

  .Auth__sign-in {
    border-radius: .2em;
    background-color: $green;
    border: 2px solid #80b980;
    color: $textColor;
    padding: 15px 25px 14px 25px;
    font-size: 1.4em;
  }
  
  .Auth__sign-in:hover,
  .Auth__sign-in:focus,
  .Auth__sign-in:active {
    background-color: #80b980 !important;
    border-color: #80b980 !important;
    color: $textColor !important;
  }
}
