@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$backgroundColor: #d0d0d0;
$textColor: #3e3e3e;
$shadowColor: #525252;

$red: #ff7d96;
$orange: #FEB144;
$yellow: #ffe868;
$green: #8dd890;
$blue: #81b6fe;
$purple: #CC99C9;

$primaryFont: 'Permanent Marker', cursive;
$secondaryFont: 'PT Sans', sans-serif;
