@import '../../../styles//variables';

.EditBirb {
  margin: 30px 0px;

  h2 {
    font-family: $primaryFont;
    color: $textColor;
  }

  label,
  p {
    border: 2px solid $textColor;
    color: #fff;
    background-color: $textColor;
    border-right: none;
    border-radius: .2em;
    padding: 10px;
    margin-top: 2px;
  }

  .save-birb-button {
    border-radius: 0;
    background-color: $green;
    border: 2px solid #80b980;
    color: $textColor;
    padding: 5px 15px;
  }

  .save-birb-button:hover,
  .save-birb-button:focus,
  .save-birb-button:active {
    background-color: #80b980 !important;
    border-color: #80b980 !important;
    color: $textColor !important;
  }
}

.form-group,
.custom-control {
  display: flex;
  justify-content: stretch;
  padding: 15px;
}

#birbType {
  background-color: $red;

  padding: 25px;
}

#birbLocation {
  background-color: $orange;

  padding: 25px;
}

.react-datepicker__input-container {

  input {
    background-color: $purple;
    color: $textColor !important;
    padding: 12px;
    border: none;
    margin: 2px 0px 0px 1px;
  }

  input:hover {
    cursor: pointer;
  }
}

#birbSize {
  background-color: $yellow;

  padding: 25px;
}

#birbSleeping {
  background-color: $green;

  padding: 25px;
}

#birbNotes {
  background-color: $blue;

  padding: 25px;
}

.custom-checkbox {
  label::before,
  label::after {
    display: none;
  }

  label {
    margin: 14px 0px 28px 20px;
  }

  label:hover {
    cursor: pointer;
  }
}
